\.vs/
packages/
FortyLife/Properties/PublishProfiles

FortyLife\.Core/bin/
FortyLife\.Core/obj/

FortyLife\.DataAccess/bin/
FortyLife\.DataAccess/obj/
FortyLife\.DataAccess/App_Data/

FortyLife\.App/bin/
FortyLife\.App/obj/
FortyLife\.App/App_Data/

FortyLife\.Database/bin/
FortyLife\.Database/obj/
FortyLife.App/Properties/PublishProfiles/
