<div id="lotus-modal" class="modal lotus-container" data-backdrop="static" data-keyboard="false">
    <div class="lotus">
        <ul>
            <li>
                <svg viewBox="0 0 72 200">
                    <path d="M0,100 C0,66.6666667 12,33.3333333 36,0 C60,33.3333333 72,66.6666667 72,100 C72,133.333333 60,166.666667 36,200 C12,166.666667 0,133.333333 0,100 Z"></path>
                </svg>
            </li>
            <li>
                <svg viewBox="0 0 72 200">
                    <path d="M0,100 C0,66.6666667 12,33.3333333 36,0 C60,33.3333333 72,66.6666667 72,100 C72,133.333333 60,166.666667 36,200 C12,166.666667 0,133.333333 0,100 Z"></path>
                </svg>
            </li>
            <li>
                <svg viewBox="0 0 72 200">
                    <path d="M0,100 C0,66.6666667 12,33.3333333 36,0 C60,33.3333333 72,66.6666667 72,100 C72,133.333333 60,166.666667 36,200 C12,166.666667 0,133.333333 0,100 Z"></path>
                </svg>
            </li>
            <li>
                <svg viewBox="0 0 72 200">
                    <path d="M0,100 C0,66.6666667 12,33.3333333 36,0 C60,33.3333333 72,66.6666667 72,100 C72,133.333333 60,166.666667 36,200 C12,166.666667 0,133.333333 0,100 Z"></path>
                </svg>
            </li>
            <li>
                <svg viewBox="0 0 72 200">
                    <path d="M0,100 C0,66.6666667 12,33.3333333 36,0 C60,33.3333333 72,66.6666667 72,100 C72,133.333333 60,166.666667 36,200 C12,166.666667 0,133.333333 0,100 Z"></path>
                </svg>
            </li>
            <li>
                <svg viewBox="0 0 72 200">
                    <path d="M0,100 C0,66.6666667 12,33.3333333 36,0 C60,33.3333333 72,66.6666667 72,100 C72,133.333333 60,166.666667 36,200 C12,166.666667 0,133.333333 0,100 Z"></path>
                </svg>
            </li>
            <li>
                <svg viewBox="0 0 72 200">
                    <path d="M0,100 C0,66.6666667 12,33.3333333 36,0 C60,33.3333333 72,66.6666667 72,100 C72,133.333333 60,166.666667 36,200 C12,166.666667 0,133.333333 0,100 Z"></path>
                </svg>
            </li>
            <li>
                <svg viewBox="0 0 72 200">
                    <path d="M0,100 C0,66.6666667 12,33.3333333 36,0 C60,33.3333333 72,66.6666667 72,100 C72,133.333333 60,166.666667 36,200 C12,166.666667 0,133.333333 0,100 Z"></path>
                </svg>
            </li>
        </ul>
    </div>
    <div class="lotus">
        <ul>
            <li>
                <svg viewBox="0 0 72 200">
                    <path d="M0,100 C0,66.6666667 12,33.3333333 36,0 C60,33.3333333 72,66.6666667 72,100 C72,133.333333 60,166.666667 36,200 C12,166.666667 0,133.333333 0,100 Z"></path>
                </svg>
            </li>
            <li>
                <svg viewBox="0 0 72 200">
                    <path d="M0,100 C0,66.6666667 12,33.3333333 36,0 C60,33.3333333 72,66.6666667 72,100 C72,133.333333 60,166.666667 36,200 C12,166.666667 0,133.333333 0,100 Z"></path>
                </svg>
            </li>
            <li>
                <svg viewBox="0 0 72 200">
                    <path d="M0,100 C0,66.6666667 12,33.3333333 36,0 C60,33.3333333 72,66.6666667 72,100 C72,133.333333 60,166.666667 36,200 C12,166.666667 0,133.333333 0,100 Z"></path>
                </svg>
            </li>
            <li>
                <svg viewBox="0 0 72 200">
                    <path d="M0,100 C0,66.6666667 12,33.3333333 36,0 C60,33.3333333 72,66.6666667 72,100 C72,133.333333 60,166.666667 36,200 C12,166.666667 0,133.333333 0,100 Z"></path>
                </svg>
            </li>
            <li>
                <svg viewBox="0 0 72 200">
                    <path d="M0,100 C0,66.6666667 12,33.3333333 36,0 C60,33.3333333 72,66.6666667 72,100 C72,133.333333 60,166.666667 36,200 C12,166.666667 0,133.333333 0,100 Z"></path>
                </svg>
            </li>
            <li>
                <svg viewBox="0 0 72 200">
                    <path d="M0,100 C0,66.6666667 12,33.3333333 36,0 C60,33.3333333 72,66.6666667 72,100 C72,133.333333 60,166.666667 36,200 C12,166.666667 0,133.333333 0,100 Z"></path>
                </svg>
            </li>
        </ul>
    </div>
    <div class="lotus">
        <ul>
            <li>
                <svg viewBox="0 0 72 200">
                    <path d="M0,100 C0,66.6666667 12,33.3333333 36,0 C60,33.3333333 72,66.6666667 72,100 C72,133.333333 60,166.666667 36,200 C12,166.666667 0,133.333333 0,100 Z"></path>
                </svg>
            </li>
            <li>
                <svg viewBox="0 0 72 200">
                    <path d="M0,100 C0,66.6666667 12,33.3333333 36,0 C60,33.3333333 72,66.6666667 72,100 C72,133.333333 60,166.666667 36,200 C12,166.666667 0,133.333333 0,100 Z"></path>
                </svg>
            </li>
            <li>
                <svg viewBox="0 0 72 200">
                    <path d="M0,100 C0,66.6666667 12,33.3333333 36,0 C60,33.3333333 72,66.6666667 72,100 C72,133.333333 60,166.666667 36,200 C12,166.666667 0,133.333333 0,100 Z"></path>
                </svg>
            </li>
        </ul>
    </div>
    <svg class="gradient">
        <defs>
            <radialGradient cx="50%" cy="5%" fx="50%" fy="5%" id="gradient" r="110%">
                <stop offset="0%" stop-color="#1c0f3d"></stop>
                <stop offset="100%" stop-color="#000000"></stop>
            </radialGradient>
        </defs>
    </svg>
</div>