<ul class="navbar-nav mr-auto">
    <li>
        <form action="/Search/Results" class="form-inline">
            <input name="cardName" class="form-control mr-sm-2 border border-success bg-secondary text-white" type="text" placeholder="Card Name" aria-label="Card Name">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </li>
    <li>
        &nbsp;
        <a href="#" class="btn btn-outline-warning my-2 my-sm-0">Advanced Search</a>
    </li>
</ul>
