@{
    ViewBag.Title = "Activation Success";
}

<h2>@ViewBag.Title</h2>
<h4>Your account has been successfully activated!</h4>

Thanks for being patient and confirming your email address. You can now <a href="/Account/Login">log in</a> to your account!