@model string

@{
    ViewBag.Title = "Registration Success";
}

<h2>@ViewBag.Title</h2>
<h4>Your account has been successfully created!</h4>

An activation email has been sent to @Model. Check your spam folder!