@model string

@{
    ViewBag.Title = "Confirm Email";
}

<h2>Registration success</h2>
<h4>Your account has been successfully created!</h4>

An activation email has been sent to @Model. Check your spam folder!