@model string

@{
    ViewBag.Title = "Resend Activation Success";
}

<h2>@ViewBag.Title</h2>
<h4>A new activation key has been generated successfully!</h4>

An activation email has been resent to @Model. Check your spam folder!