@model FortyLife.Data.Scryfall.Card

<div class="card border-success">
    <div class="card-header"><span class="oi oi-dollar"></span> TCG Player <span class="float-right"><a href="#"><span class="oi oi-cart"></span> Purchase</a></span></div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 text-center">
                Low <br />
                <span class="text-muted small">$0.00</span>
            </div>
            <div class="col-md-4 text-center">
                Mid <br />
                <span class="text-success lead">$0.00</span>
            </div>
            <div class="col-md-4 text-center">
                High <br />
                <span class="text-danger">$0.00</span>
            </div>
        </div>
    </div>
</div>