@model FortyLife.Models.SearchResultsViewMovel

@{
    ViewBag.Title = "Results";
}

@section Scripts{
    @Scripts.Render("~/bundles/tooltipjs")
}

<div>
    <p>
        <i>Searching card names for "@Model.NameSearch" yielded @Model.Results.TotalCards results.</i>
    </p>

    @if (Model.Results.TotalCards > 0)
    {
        Html.RenderPartial("_ResultsTable", Model);
    }
</div>