/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.no-padding {
    padding: 0;
}

/* Override the table highlighting */
.table-hover > tbody > tr:hover {
    background-color: rgba(255, 255, 255, .4);
}

/* not included in bootstrap or the bootstrap theme we're using */
.bg-active {
    background-color: rgba(0, 0, 0, 0.075)
}

/* Override the SetSymbol rarity coloring styles with our own to better match the dark theme of the site */
.ss-common {
    color: #dbdbc9;
}

.ss-uncommon {
    color: #828e9b;
}

.ss-rare {
    color: #afa749;
}

.ss-mythic {
    color: #b2441c;
}

/* Also override the size to make it look better */
.ss {
    font-size: 1.4em;
}

/* tooltip */
.tooltip.show {
    opacity: 1;
}

.tooltip-inner {
    max-width: 100%;
}

/* card shadows */
img.card-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0;
}

/* Styles borrowed from Scryfall's site for card display */
img.card {
    -webkit-border-radius: 4.75% / 3.5%;
    border-radius: 4.75% / 3.5%;
    background-image: -webkit-repeating-linear-gradient(145deg, #DDD, #DDD 5px, #CCC 5px, #CCC 10px);
    background-image: -o-repeating-linear-gradient(145deg, #DDD, #DDD 5px, #CCC 5px, #CCC 10px);
    background-image: repeating-linear-gradient(-55deg, #DDD, #DDD 5px, #CCC 5px, #CCC 10px);
    color: #000;
    display: block;
    font-size: 0;
    overflow: hidden;
    text-align: center;
    border: 0;
}

img.card-tooltip {
    width: 290px;
}

.card-image {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    -o-transition: -o-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms, -o-transform 200ms;
    border: 0;
}

    .card-image .card {
        -webkit-transition: -webkit-transform 200ms;
        transition: -webkit-transform 200ms;
        -o-transition: -o-transform 200ms;
        transition: transform 200ms;
        transition: transform 200ms, -webkit-transform 200ms, -o-transform 200ms;
        border: 0;
    }

textarea {
    resize: none;
}
