@{
    ViewBag.Title = "About";
}

<h3>Powerful features provided at no cost.</h3>
<div>
    A project born out of frustration with the current availability of similar applications, Forty Life is a Magic: The Gathering collection app that strives to provide users with all the best features from those other applications while leaving out everything that makes them a chore or a hassle to use. You shouldn't have to pay money only to settle for a collection manager with just some of what you want. You shouldn't have to bounce between using several apps to manage your collection, either. Forty Life will bring all of those features together and offer them to you for free.
</div>

<p/>

<h3>Features we aim to provide.</h3>
<div>
    <ul>
        <li>If you disabled your ad-blocker, you'd see that Forty Life isn't bogged down with requests to ad servers and its pages don't have akward layouts in order to facilitate ads. We promise to deliver a speedy, ad-free experience. Bonus: we wont nag at you to turn off your ad-blocker! 😜</li>
        <li>100% free accounts to store all of your Magic: The Gathering deck and collection data. There will be no "pro" accounts offered, nor any "premium" subscriptions, nor any other paid feature or functionality; every feature will be available to every user at no cost.</li>
        <li>Unlimited list storage for decks and collections alike. Decks will give you an in depth breakdown on your lists and the insight you need to build effeciently, while Collections are useful for tracking trade binders or Magic cubes.</li>
        <li>Get advice on your card lists by making them public, or store them for your own edification by making them private. Control how your public lists are critiqued by enabling or disabling comments and votes on your decks. Suggest cards for other user's lists and maintain a "Maybe" category for suggestions your lists receive to play around with different ideas in your lists without breaking down the integrity of the original list.</li>
        <li>Light-weight but powerful list editing tools to make maintaining your different card lists quick and easy.</li>
        <li>A deck list editor with an emphasis on EDH/Commander. Easily manage your deck lists for any format imaginable with special attention paid to managing EDH/Commander lists.</li>
        <li>Card data is retreived, cached, and stored from the <a href="https://scryfall.com/docs/api">Scryfall API</a>, so Forty Life can be relied on to have the most up to date card information.</li>
        <li>Card pricing information is retreived, cached, and stored from the <a href="https://docs.tcgplayer.com/v1.20.0/reference">TCGPlayer API</a>, so Forty Life can be relied on to have the most up to date card pricing information.</li>
        <li>A companion mobile app will allow you to manage and display your lists on the go, as well as make adding to your lists a breeze with image recognition to add Magic cards in a jiffy.</li>
        <li>An <a href="https://git.tm14.net/mattn/FortyLife">open-source</a> code base means that anyone can contribute to making this the best Magic: The Gathering collection tracker app available! Just head on over to the project repository, hosted on a dedicated GitLab instance, and see how you can help out.</li>
    </ul>
</div>