@{
    ViewBag.Title = "Help";
}

<div>
    <p>
        As features are added to the site and it becomes more involved to use, a help section will be developed both to help new users become familiar with Forty Life and as a reference for the veteren users.
    </p>
    <p>
        The collection and deck editor description fields will accept Markdown syntax input for rendering on their respective view pages. These are the <a href="">Markdown specification</a> Forty Life uses. In addition to everything found in the specification, you can surround text with ~~ in order to acheive the <del>strikethrough</del> effect. As a side effect for having a Markdown enabled description field, HTML can also be used. However, script and style tags are prohibited. Use raw HTML at your own risk - it can break your view page!
    </p>
    <p>
        Use the format <code>0x CardName (SETCODE) *F* *CMDR*</code> to list cards. <em>Use one line per card.</em> Not using a count will make the engine assume the count is 1. Not using <code>(SETCODE)</code> will make the engine assume the latest set. Using <code>*F*</code> will let the engine know the card is foil. Using <code>*CMDR*</code> will indicate that the card is a Commander. To list double-sided cards, use the name scheme <code>Front-side Name // Back-side Name</code>. The space between the names of the card and the double slashes is important!
    </p>
</div>