@{
    ViewBag.Title = "Help";
}

<div>
    As features are added to the site and it becomes more involved to use, a help section will be developed both to help new users become familiar with Forty Life and as a reference for the veteren users.
</div>