@{
    ViewBag.Title = "Help";
}

<div>
    <p>
        As features are added to the site and it becomes more involved to use, a help section will be developed both to help new users become familiar with Forty Life and as a reference for the veteren users.
    </p>
    <p>
    The collection and deck editor description fields will accept Markdown syntax input for rendering on their respective view pages. These are the <a href="">Markdown specification</a> Forty Life uses. In addition to everything found in the specification, you can surround text with ~~ in order to acheive the <del>strikethrough</del> effect. As a side effect for having a Markdown enabled description field, HTML can also be used. However, script and style tags are prohibited. Use raw HTML at your own risk - it can break the description section on your view page!
    </p>
</div>