@{
    ViewBag.Title = "Home Page";
}

<div>
    <p class="lead">Forty Life is a free and <a href="https://git.tm14.net/mattn/FortyLife">open-source</a> Magic: The Gathering collection web application for building and tracking your decks and collections using powerful features backed by the most up to date card information.</p>

    @if (!Request.IsAuthenticated)
    {
        <p><a href="/Account/Register" class="btn btn-outline-success btn-lg">Get started &raquo;</a> &nbsp; <a href="/Home/About" class="btn btn-outline-primary btn-lg">Learn more &raquo;</a></p>
    }

    <div class="row">
        <div class="h4"><span class="oi oi-clock"></span> Latest changes as of 3.27.2019</div> &nbsp; <i class="small">(This section is hard-coded HTML so don't kill us if it isn't up to date!)</i>
    </div>
    <ul>
        <li>Implemented account registration complete with email activation.</li>
        <li>Collection creation is now possible!</li>
        <li>Locally caching Scryfall and TCGPlayer data for faster data queries.</li>
        <li>Several bugs have been fixed since initial release.</li>
    </ul>
</div>