@{
    ViewBag.Title = "Home Page";
}

<div>
    <p class="lead">Forty Life is a free and <a href="https://git.tm14.net/mattn/FortyLife">open-source</a> Magic: The Gathering collection web application for building and tracking your decks and collections using powerful features backed by the most up to date card information.</p>

    @if (!Request.IsAuthenticated)
    {
        <p><a href="/Account/Register" class="btn btn-outline-success btn-lg">Get started &raquo;</a> &nbsp; <a href="/Home/About" class="btn btn-outline-primary btn-lg">Learn more &raquo;</a></p>
    }
    
    <h4>Latest features [updated 1.14.2019]</h4>
    <ul>
        <li><i>(This page is hard-coded HTML so don't kill us if it isn't up to date!)</i></li>
        <li>The site shell - we have a base with which we can build off, yey!</li>
        <li>Very basic, name-based card search using <a href="https://scryfall.com/">Scryfall's</a> API; not very useful now - you're probably better off actually going to Scryfall for the time being!</li>
        <li>Imcomplete mana and card symbol parsing. The rest of the parsing engine will be hammered out soon!</li>
    </ul>
</div>