
<div class="card">
    <div class="card-header">
        <span class="oi oi-bolt"></span> Quick Card Lookup
    </div>
    <div class="card-body">

    </div>
    <div class="card-footer">
        <i>
            Hover over a card to see its card face. Click on a card to see all of its printings.
        </i>
    </div>
</div>