
<div class="card">
    <div class="card-header">
        <span class="oi oi-bolt"></span> Quick Card Lookup <i class="small">(Hover over a card to see its card face. Click on a card to see all of its printings.)</i>
    </div>
    <div class="card-body">
        <form action="/Search/Results" class="form-inline">
            <input name="cardName" class="form-control border border-dark" type="text" placeholder="Card Name" aria-label="Card Name"> &nbsp; &nbsp;
            <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
    </div>
</div>